In [1]:
import pandas as pd

In [27]:
AWS_ACCESS_KEY='AKIAT7COLNC7YX5XHSFB'
AWS_SECRET_KEY='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'
BUCKET_NAME='alchemytesttask'

# Store Raw Data

## Read Data

In [121]:
sales=pd.read_csv('Archive/SalesData.csv')
costs=pd.read_csv('Archive/costs.csv')
countries=pd.read_csv('Archive/Country_Table.csv')
customers=pd.read_csv('Archive/Customer_Table.csv')
fx_table=pd.read_csv('Archive/FX_Table.csv')

## Store Data

In [35]:
import pandas as pd
import boto3

def store_data(df, file_key, bucket_name, aws_access_key, aws_secret_key):
    df.to_csv(f"s3://{bucket_name}/{file_key}", index=False, storage_options={"key": aws_access_key, "secret": aws_secret_key})    

store_data(sales, "SalesData.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
store_data(costs, "costs.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
store_data(countries, "Country_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
store_data(customers, "Customer_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
store_data(fx_table, "FX_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)

PermissionError: Access Denied

# Raw Data ETL

## Extract

In [ ]:
def read_data(file_key, bucket_name, aws_access_key, aws_secret_key):
    return pd.read_csv(f"s3://{bucket_name}/{file_key}", index=False, storage_options={"key": aws_access_key, "secret": aws_secret_key})

sales = store_data("SalesData.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
costs = store_data("costs.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
countries = store_data("Country_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
customers = store_data("Customer_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)
fx_table = store_data("FX_Table.csv", BUCKET_NAME, AWS_ACCESS_KEY, AWS_SECRET_KEY)

## Transform

#### date lookup table

In [148]:
# create date range
date_lookup = pd.DataFrame({"date": pd.date_range('01/01/2000', '31/12/2050')})

# first_day_of_month
date_lookup['first_day_of_month']=date_lookup['date'].apply(lambda x : x.replace(day=1))

# first_day_of_week
date_lookup['first_day_of_week'] = date_lookup['date'].dt.to_period('W').apply(lambda r: r.start_time)

# date_key
date_lookup['date_key'] = date_lookup['date'].dt.strftime("%d/%m/%Y").apply(hash)

#### Sales Data

In [38]:
sales.head()

,category,subcategory,product_family,key_product,sku,description,grade,country_id,cost_currency,cost_per_device,sales_date,sold_currency,price_sold_per_device,status,customer_id,quantity,sales_order_id,serial,bin_id
0,Computers,Apple,Mac Pro (Late 2019),Mac Pro (Late 2019) 2TB SSD,CP-AP-R071RA-2TS-W3245-A,Mac Pro Xeon W 3.2GHz Rack (Late 2019) 2TB SSD,A,5,USD,7351,18/06/2022,USD,8454,Sold,100198,53,2201685,268471,UE3477
1,Smartphones,Apple,iPhone 12,iPhone 12 128GB,PH-AP-IP1200-128-B,iPhone 12 128GB,B,20,GBP,335,23/06/2022,GBP,599,Sold,100168,27,2219375,952379,CK9815
2,Laptops,Apple,"MacBook Air 7,2 13 Inch (2015/17)","MacBook Air 7,2 13 Inch (2015/17) 256GB SSD",LP-AP-A07213-25S-5350U-B,MacBook Air i5 1.8GHz 13 inch (2017) 256GB SSD,B,11,USD,219,26/06/2022,USD,458,Sold,100181,24,2220215,727694,WZ6443
3,Smartphones,Apple,iPhone 11,iPhone 11 64GB,PH-AP-IP1100-064-C,iPhone 11 64GB,C,77,EUR,229,22/06/2022,EUR,300,Sold,100300,68,2206360,474162,CQ7097
4,Smartphones,Apple,iPhone 11,iPhone 11 128GB,PH-AP-IP1100-128-Z,iPhone 11 128GB,Z,77,EUR,307,23/06/2022,EUR,360,Sold,100116,71,2202925,589342,SK7391

In [73]:
# create a surrogate product_id --> hash is not the best function for hashing
sales['product_id'] = sales['sku'].apply(hash)
sales['status_id'] = sales['status'].apply(hash)
sales['cost_currency_id'] = sales['cost_currency'].apply(hash)
sales['sold_currency_id'] = sales['sold_currency'].apply(hash)
sales['date_key'] = sales['date'].apply(hash)

In [84]:
# create product dimension table
product_cols = ['category', 'subcategory', 'product_family', 'key_product', 'sku', 'description', 'grade']
product = sales[['product_id'] + product_cols].drop_duplicates('product_id', keep=False) # drop duplicates based on product_id
product.head()

,product_id,category,subcategory,product_family,key_product,sku,description,grade
0,787467911168650543,Computers,Apple,Mac Pro (Late 2019),Mac Pro (Late 2019) 2TB SSD,CP-AP-R071RA-2TS-W3245-A,Mac Pro Xeon W 3.2GHz Rack (Late 2019) 2TB SSD,A
106,-1493733850574365713,Smartphones,Apple,iPhone 12,iPhone 12 64GB,PH-AP-IP1200-064-D,iPhone 12 64GB,D
423,1795217344639157106,Laptops,Apple,Macbook Pro (Mid 2017) 15 inch,Macbook Pro (Mid 2017) 15 inch 1TB SSD,LP-AP-P14315-01S-7920H-C,MacBook Pro i7 3.1GHz 15 inch (Mid 2017) 1TB SSD,C
736,-8932961694055151364,Laptops,Apple,"MacBook Air 6,2 13 Inch (Early 2014)","MacBook Air 6,2 13 Inch (Early 2014) 256GB SSD",LP-AP-A06213-25S-4250U-C,MacBook Air Core i5 1.3GHz 13 inch (Mid 2013) ...,C
744,-8252308527468215824,Tablets,Apple,"iPad Pro 12.9"" 4th Generation","iPad Pro 12.9"" 4th Generation 512GB",TB-AP-PADP4T-FAC-512-D,iPad Pro 12.9 Inch 4th Gen 512GB WiFi & Cellular,D

In [86]:
# create currency dimension table
currency_cols = ['sold_currency']
currency = sales[['sold_currency_id'] + currency_cols].drop_duplicates('sold_currency_id').rename(columns={"sold_currency_id": "id"}) # drop duplicates based on sold_currency_id

       sold_currency_id sold_currency
0   -471491934313400956           USD
1  -1959881445983453011           GBP
3   7739936521229438868           EUR
19 -2640329550111632100           JPY
21  6489541680626255869           AUD

In [87]:
# create status dimension table
status_cols = ['status']
status = sales[['status_id'] + status_cols].drop_duplicates('status_id').rename(columns={'status_id': 'id'}) # drop duplicates based on status_id

              status_id         status
0   1561902689179406706           Sold
19  5713314335399493823  Not finalised

In [90]:
# create sales fact table
sales = sales.drop(product_cols+ currency_cols + status_cols, axis=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85114 entries, 0 to 85113
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   country_id             85114 non-null  int64
 1   cost_currency          85114 non-null  object
 2   cost_per_device        85114 non-null  int64
 3   sales_date             85114 non-null  object
 4   price_sold_per_device  85114 non-null  int64
 5   customer_id            85114 non-null  int64
 6   quantity               85114 non-null  int64
 7   sales_order_id         85114 non-null  int64
 8   serial                 85114 non-null  int64
 9   bin_id                 85114 non-null  object
 10  product_id             85114 non-null  int64
 11  status_id              85114 non-null  int64
 12  cost_currency_id       85114 non-null  int64
 13  sold_currency_id       85114 non-null  int64
dtypes: int64(11), object(3)
memory usage: 9.1+ MB

#### costs data

In [119]:
# clean the costs dataset
rename_dict={
    'db.r5.4xlarge($)': 'r5.4xlarge',
    'db.r6g.xlarge($)': 'r6g.xlarge',
    'db.r6g.4xlarge($)': 'r6g.4xlarge',
    'db.r6g.large($)': 'r6g.large',
    'db.r5.xlarge($)': 'r5.xlarge',
    'No instance type($)': 'No instance type',
    'db.r5.large($)': 'r5.large',
    'db.t3.medium($)': 't3.medium',
    'db.t4g.medium($)': 't4g.medium',
    'db.t2.medium($)': 't2.medium',
    'Instance type': 'date'
}
costs = costs.drop(index=costs.index[0], axis=0).drop('Total costs($)', axis=1).rename(columns=rename_dict)

KeyError: "['Total costs($)'] not found in axis"

In [120]:
# reshape the costs dataset
costs = costs.melt(id_vars=['date'], 
           var_name='instance_type', 
           value_name='cost($)')

#### fx_table

In [126]:
fx_table = fx_table.melt(id_vars=['Date'], 
           var_name='conversion', 
           value_name='conversion_values')

## Load

Now we have 9 dataframes map to 9 tables in our target database. We can load them using df.to_sql()

In [149]:
countries.head()

   id     city country sales_channel
0   5  Chicago      US           B2B
1  20   London      GB           B2C
2  11  Chicago      US           B2C
3  77   Dublin      IE           B2B
4  16   London      GB           B2B

In [150]:
customers.head()

       id                      customer_name
0  100198                      Rempel - Will
1  100168                      Rohan - Kulas
2  100181  Kertzmann, Hagenes and Runolfsson
3  100300           Bruen, Gaylord and Moore
4  100116              Hilll, Beer and Upton

In [151]:
date_lookup.head()

        date first_day_of_month first_day_of_week             date_key
0 2000-01-01         2000-01-01        1999-12-27  6784883712091559464
1 2000-01-02         2000-01-01        1999-12-27 -1834829653952113705
2 2000-01-03         2000-01-01        2000-01-03 -6058420405149772725
3 2000-01-04         2000-01-01        2000-01-03 -2784698943898368297
4 2000-01-05         2000-01-01        2000-01-03  7462639218524382420

In [152]:
product.head()

,product_id,category,subcategory,product_family,key_product,sku,description,grade
0,787467911168650543,Computers,Apple,Mac Pro (Late 2019),Mac Pro (Late 2019) 2TB SSD,CP-AP-R071RA-2TS-W3245-A,Mac Pro Xeon W 3.2GHz Rack (Late 2019) 2TB SSD,A
106,-1493733850574365713,Smartphones,Apple,iPhone 12,iPhone 12 64GB,PH-AP-IP1200-064-D,iPhone 12 64GB,D
423,1795217344639157106,Laptops,Apple,Macbook Pro (Mid 2017) 15 inch,Macbook Pro (Mid 2017) 15 inch 1TB SSD,LP-AP-P14315-01S-7920H-C,MacBook Pro i7 3.1GHz 15 inch (Mid 2017) 1TB SSD,C
736,-8932961694055151364,Laptops,Apple,"MacBook Air 6,2 13 Inch (Early 2014)","MacBook Air 6,2 13 Inch (Early 2014) 256GB SSD",LP-AP-A06213-25S-4250U-C,MacBook Air Core i5 1.3GHz 13 inch (Mid 2013) ...,C
744,-8252308527468215824,Tablets,Apple,"iPad Pro 12.9"" 4th Generation","iPad Pro 12.9"" 4th Generation 512GB",TB-AP-PADP4T-FAC-512-D,iPad Pro 12.9 Inch 4th Gen 512GB WiFi & Cellular,D

In [153]:
currency.head()

       sold_currency_id sold_currency
0   -471491934313400956           USD
1  -1959881445983453011           GBP
3   7739936521229438868           EUR
19 -2640329550111632100           JPY
21  6489541680626255869           AUD

In [154]:
status.head()

              status_id         status
0   1561902689179406706           Sold
19  5713314335399493823  Not finalised

In [155]:
sales.head()

,category,subcategory,product_family,key_product,sku,description,grade,country_id,cost_currency,cost_per_device,sales_date,sold_currency,price_sold_per_device,status,customer_id,quantity,sales_order_id,serial,bin_id
0,Computers,Apple,Mac Pro (Late 2019),Mac Pro (Late 2019) 2TB SSD,CP-AP-R071RA-2TS-W3245-A,Mac Pro Xeon W 3.2GHz Rack (Late 2019) 2TB SSD,A,5,USD,7351,18/06/2022,USD,8454,Sold,100198,53,2201685,268471,UE3477
1,Smartphones,Apple,iPhone 12,iPhone 12 128GB,PH-AP-IP1200-128-B,iPhone 12 128GB,B,20,GBP,335,23/06/2022,GBP,599,Sold,100168,27,2219375,952379,CK9815
2,Laptops,Apple,"MacBook Air 7,2 13 Inch (2015/17)","MacBook Air 7,2 13 Inch (2015/17) 256GB SSD",LP-AP-A07213-25S-5350U-B,MacBook Air i5 1.8GHz 13 inch (2017) 256GB SSD,B,11,USD,219,26/06/2022,USD,458,Sold,100181,24,2220215,727694,WZ6443
3,Smartphones,Apple,iPhone 11,iPhone 11 64GB,PH-AP-IP1100-064-C,iPhone 11 64GB,C,77,EUR,229,22/06/2022,EUR,300,Sold,100300,68,2206360,474162,CQ7097
4,Smartphones,Apple,iPhone 11,iPhone 11 128GB,PH-AP-IP1100-128-Z,iPhone 11 128GB,Z,77,EUR,307,23/06/2022,EUR,360,Sold,100116,71,2202925,589342,SK7391

In [156]:
costs.head()

,Instance type,db.r5.4xlarge($),db.r6g.xlarge($),db.r6g.4xlarge($),db.r6g.large($),db.r5.xlarge($),No instance type($),db.r5.large($),db.t3.medium($),db.t4g.medium($),db.t2.medium($),Total costs($)
0,Instance type total,11243.52,9515.062437,8985.588373,8759.031866,6568.915021,5182.736341,2524.337511,1998.32908,1538.272428,408.456,56724.249057
1,2023-10-01,1904.64,1033.985662,627.638541,1198.302979,1904.640000,925.364037,476.160000,392.83200,253.510053,69.192,8786.265272
2,2023-11-01,1843.20,1650.240000,1649.520000,1425.610932,1390.588622,890.067754,460.800000,380.16000,168.480000,66.960,9925.627308
3,2023-12-01,1904.64,1705.248000,1704.504000,1514.827441,1051.152355,903.665290,476.160000,392.83200,174.096000,69.192,9896.317086
4,2024-01-01,1904.64,1705.248000,1704.504000,1576.624653,952.320000,894.093694,476.160000,392.83200,174.096000,69.192,9849.710347

In [157]:
fx_table.head()

         Date conversion  conversion_values
0  06/06/2022     GBPUSD              1.253
1  30/05/2022     GBPUSD              1.265
2  16/05/2022     GBPUSD              1.232
3  02/05/2022     GBPUSD              1.250
4  18/04/2022     GBPUSD              1.301